
/* Font theme */
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}


/* Banner section starts here */
.banner-in{
    width: 998px;
    height: 581px;
    padding: 26px 221px 45px 221px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;            
    text-align: center;
    
}

.bg{
    background-image: url(../assets/Hero-bg.png);
}

.banner-tit{
    font-weight: 800;
    font-size: 48px;
    color: #0D1321;
    margin-bottom: 24px;
}

.banner-p{
    font-size: 16px;
    color: #0D1321;
    opacity: 70%;
    margin-bottom: 32px;
}

.btn-fill{
    background-color: #0D1321;
    color: #FFFFFF;
    padding: 21px 24px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    width: 224px;
    height: 65;
    margin-bottom: 45px;
}

/* Why web development starts here */
.wwd{
    background-color: rgba(13, 19, 33, 0.02);
    width: 1140;
    height: 1393;
    border-radius: 16px;
    margin: 74px 152px 90px 148px;
    padding-bottom: 80px;
    
}
.wwd-tp{
    
    width: 946;
    height: 1233;
    padding: 80px 97px;
    
}

.wwd-title{
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.wwd-p{
    font-size: 16px;
    text-align: center;
    opacity: 70%;
}

.cod-1{
    background-color: #FFFFFF;
    width: 946px;
    height: 336px;
    padding: 48px;
    margin: 0px 97px 32px;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    gap: 200px;
}

.cod-2{
    background-color: #FFFFFF;
    width: 946px;
    height: 336px;
    padding: 48px;
    margin: 0px 97px 32px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.cod-tit{
    color: rgba(13, 19, 33, 0.7);
    font-weight: 600;
    font-size: 24px;
}

.cod-p{
    color: #0D1321;
    font-size: 16px;
    opacity: 70%;
}

.btn-norm{
    font-size: 20px;
    font-weight: 600px;
    color: #0D1321;
    border-color: #0D1321;
    padding: 12px 20px;
    margin-top: 32px;
}

/* My Inspiration starts here */
.ins{
    width: 1140px;
    height: 775px;
    margin: 90px 152px 151px 148px;
}

.ins-tit{
    color: #0D1321;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.ins-p{
    color: #0D1321;
    font-size: 16px;
    text-align: center;
    opacity: 70%;
}

.ins-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    color: rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    margin-top: 48px;
}

.ins-2{
    border-radius: 16px;
}

.bhule{
    padding: 0px 144px;
}

/* Target starts here */

.target{
    width: 1140px;
    height: 1137px;
    margin: 151px 150px 49px;
}

.target-tit{
    color: #0D1321;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.target-p{
    color: #0D1321;
    font-size: 16px;
    text-align: center;
    opacity: 70%;
    padding: 0px 144px;
    padding-bottom: 40px;
}

.target-items-1{
    border-radius: 16px;
    background-color: rgba(255, 76, 30, 0.05);
    padding: 40px;
    width: 364px;
    height: 299px;
    text-anchor: #001348;
}

.target-items-2{
    border-radius: 16px;
    background-color: rgba(0, 76, 232, 0.05);
    padding: 40px;
    width: 364px;
    height: 299px;
    text-anchor: #001348;
}

.target-items-3{
    border-radius: 16px;
    background-color: rgba(255, 223, 0, 0.05);
    padding: 40px;
    width: 364px;
    height: 299px;
    text-anchor: #001348;
}

.target-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.tar-head{
    color: #0D1321;
    font-size: 24px;
    font-weight: 800px;
}

.tar-p{
    color: #0D1321;
    font-size: 16px;
    opacity: 70%;
}

a{
    color: #0D1321;
    font-size: 16px;
    font-weight: 600;
}

/* Next target starts here */

.next{
    margin-top: -500px;
    width: 1140px;
    height: 866px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 26px 221px 45px 160px;           
    
    
}

.next-1{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;   
}

.next-items-1{
    color: #0D1321;
    border: 0.01px solid rgb(211, 211, 211);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 40px;
    margin-bottom: 24px;
}

/* support starts here */

.support-h{
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 600;
}

.support-p{
    color: #FFFFFF;
    font-size: 16px;
    opacity: 70%;
}



.support{
    width: 1140px;
    height: 313px;
    background-image: linear-gradient(0.00deg, rgb(0, 0, 0) -19.5%,rgba(0, 0, 0, 0) 100%),url("../assets/handshake.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    margin-left: 165px;
    display: flex;
    justify-content: center; 
    align-items: center;            
    text-align: center;
    

}

.suppp{
    width: 500px;
    height: 25px;
    color: rgba(13, 19, 33, 0.4);
    font-size: 20px;
    padding: 17px 20px;
    border-radius: 8px;
    border: none;
}

.btn-sup{
    width: 120px;
    height: 57px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    color: #0D1321;
    font-weight: 600;
    padding: 17px 20px;
}

.supp{
    padding: 64px 48px;
    width: 1044px;
    height: 185px;
}

.lekha{
    padding-bottom: 24px;
}