
/* Font theme */
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}


/* Banner section starts here */
.banner-in{
    width: 998px;
    height: 581px;
    padding: 26px 221px 45px 221px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;            
    text-align: center;
    
}

.bg{
    background-image: url(../assets/Hero-bg.png);
}

.banner-tit{
    font-weight: 800;
    font-size: 48px;
    color: #0D1321;
    margin-bottom: 24px;
}

.banner-p{
    font-size: 16px;
    color: #0D1321;
    opacity: 70%;
    margin-bottom: 32px;
}

.btn-fill{
    background-color: #0D1321;
    color: #FFFFFF;
    padding: 21px 24px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    width: 224px;
    height: 65;
    margin-bottom: 45px;
}

/* Why web development starts here */
.wwd{
    background-color: rgba(13, 19, 33, 0.02);
    width: 1140;
    height: 1393;
    border-radius: 16px;
    margin: 74px 152px 90px 148px;
    
}
.wwd-tp{
    
    width: 946;
    height: 1233;
    padding: 80px 97px;
    
}

.wwd-title{
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.wwd-p{
    font-size: 16px;
    text-align: center;
    opacity: 70%;
}

.cod-1{
    background-color: #FFFFFF;
    width: 946px;
    height: 336px;
    padding: 48px;
    margin: 0px 97px 32px;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    gap: 200px;
}

.cod-2{
    background-color: #FFFFFF;
    width: 946px;
    height: 336px;
    padding: 48px;
    margin: 0px 97px 32px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.cod-tit{
    color: rgba(13, 19, 33, 0.7);
    font-weight: 600;
    font-size: 24px;
}

.cod-p{
    color: #0D1321;
    font-size: 16px;
    opacity: 70%;
}

.btn-norm{
    font-size: 20px;
    font-weight: 600px;
    color: #0D1321;
    border-color: #0D1321;
    padding: 12px 20px;
    margin-top: 32px;
}